div {
    background-color: rosybrown;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 150%;
    font-family: cursive;
    border-radius: 20%;

}